.text-center {
  text-align: center;
}
#last-submit {
  line-height: 2;
  padding: 9px 8px 9px 8px;
  width: 100%;
  margin-top: 40px;
}


.aside__banner-complete {
  width: 701px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


#font-title__size {
  margin-left: 24px;
  font-size: 22px;
}

#font-subtitle__size {
  font-size: 33px;
}


