.select-wrap-birthday {
  width: 100%;
  display: inline-block;
}

#card_y{
  width: 120px;
}

#card_m{
  width: 120px;
}

#deadline {
  font-size: 23px;
  left: 610px;
  position: absolute;
  margin-top: 14px;
}
