.select-wrap-birthday {
  width: 100%;
  display: inline-block;
}

#card_y{
  width: 120px;
}

#card_m{
  width: 120px;
}

#deadline {
    font-size: 23px;
    left: 586px;
    position: absolute;
    margin-top: 10px;
}
