.select-wrap-birthday {
  width: 100%;
  display: inline-block;
}

#card_y{
  width: 120px;
}

#card_m{
  width: 120px;
}

#deadline {
  font-size: 28px;
  left: 667px;
  position: absolute;
  margin-top: 9px;
}
