.space-message {
  margin-top: 8px;
}

#font-small-submit {
  font-size: 13px;
  margin-top: 40px;
}

#font-change {
  font-weight: 10px;
}

.form-group__first-font label {
  font-weight: 600;
  font-size: 15px;
}
