.btn-default.button-red {
  margin: 16px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  border-radius: 0px;
  line-height: 2;
}

.font-small {
  font-size: 10px;
}
.font-color-gray {
  color:#888;
}

#font-color-blue {
  color: #0099e8;
}

.select-wrap-birthday {
  width: 100%;
  display: inline-block;
}

#user_year {
  width: 44%;
}

.form-group-year {
  margin: 40px 0 0;
}

.birthday {
  display: inline-block;
}

.select-wrap {
  margin: 8px 0 0;
}

#user_month {
  width: 44%;
}

#user_day {
  width: 44%;
}

#birthday {
  font-size: 28px;
  left: 667px;
  position: absolute;
  margin-top: 9px;
}





.form-group{
  margin: 40px 0 0;
}

.text-right {
text-align: right;
}


.right-continer__inner {
  background-color: #FFFFFF;
  border-top: 1px solid #f5f5f5;
  padding: 64px;
}

.font-size-small {
  font-size: 13px;
}



#user_user_profile_attributes_birth_y {
  width: 44%;
}

#user_user_profile_attributes_birth_m {
  width: 44%;
}

#user_user_profile_attributes_birth_d {
  width: 44%;
}






.space-message {
  margin-top: 8px;
}

#font-small-submit {
  font-size: 13px;
  margin-top: 40px;
}

#font-change {
  font-weight: 10px;
}

.form-group__first-font label {
  font-weight: 600;
  font-size: 15px;
}


.form-group-font label {
  font-weight: 600;
  font-size: 15px;
}

.form-group-font {
  margin: 40px 0 0;
}


#form-arbitrary {
  margin: 0 0 0 4px;
  padding: 1px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  background: #ccc;
}

.space-top{
  margin-top: 5px;
}

.icon-angle{
  position: relative;
  left: 284px;
  text-align: right;
  z-index: 2;
  color: #888;
  font-size: 31px;
  transform: translate(0, -117%);
}







.select-wrap-birthday {
  width: 100%;
  display: inline-block;
}

#card_y{
  width: 120px;
}

#card_m{
  width: 120px;
}

#deadline {
  font-size: 28px;
  left: 667px;
  position: absolute;
  margin-top: 9px;
}









.costom {
  box-sizing: border-box;
  background: white;
  width: 100%;
  padding: 9px 8px 9px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  font-size: 14px;
}

#user_user_profile_attributes_expiration_year {
  width: 44%;
}

#user_user_profile_attributes_expiration_month {
  width: 44%;
}










.right-continer__inner__main {
  background-color: #FFFFFF;
  border-top: 1px solid #f5f5f5;
  padding: 64px;
}

.right-continer__inner__phone {
  background-color: #FFFFFF;
  border-top: 1px solid #f5f5f5;
  padding: 64px;
}

.right-continer__inner__address {
  background-color: #FFFFFF;
  border-top: 1px solid #f5f5f5;
  padding: 64px;
}

.right-continer__inner__pay {
  background-color: #FFFFFF;
  border-top: 1px solid #f5f5f5;
  padding: 64px;
}


.single-main-container__head__main{
  margin: 0 auto;
  padding: 32px 16px;
  font-size: 22px;
  background-color: white;
  text-align: center;
}

.single-main-container__head__phone{
  margin: 0 auto;
  padding: 32px 16px;
  font-size: 22px;
  background-color: white;
  text-align: center;
}
.single-main-container__head__address{
  margin: 0 auto;
  padding: 32px 16px;
  font-size: 22px;
  background-color: white;
  text-align: center;
}
.single-main-container__head__pay {
  margin: 0 auto;
  padding: 32px 16px;
  font-size: 22px;
  background-color: white;
  text-align: center;
}



.costom__main{
  text-align: center;
}
.costom__phone{
  text-align: center;
}
.costom__address{
  text-align: center;
}
.costom__pay{
  text-align: center;
}

.signup_input{
  padding: 0 10px;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border:  1px solid #CCCCCC;
}


.signup-container{
  margin-left: 90px;
}
.signup-header{

}
#signup-header__logo {

}

.signup-header__progress{

}
.progress{
  display: flex;
  text-align: center;
  font-size: 14px;
  &__node {

  }
  &__title {
    color: #888;
    margin-right: 70px;
  }
  .progress__node {

  }
  #progress--first {
    margin-right: -20px;
  }
  #progress--second {
    margin-right: 32px;
  }
  #progress--thired {
    margin-right: 87px;
  }
  #progress--fourth {
    margin-left: -75px;
  }
  #last-title {
    margin-left: -50px;
  }
  &__dot {
    color: #ccc;
  }
  &__line {
    border: 1px solid ;
    width: 110px;
    transform: translateX(0%);
  }
  #first-line {
    left: 65px;
  }
  #second-line {
    left: 39px;
  }
  #thired-line {
    left: 13px;
  }
  #fourth-line {
    left: -41px;
    width: 67px;
  }
  .progress__user {

  }

  .progress__phone {

  }
  .progress__address {

  }
  .progress__pay{

  }
  .progress__line {
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 12px;
  }
  .fa-circle{
    position: absolute;
    font-size: 11px;
  }

  .circle-first {
    display: inline-block;
    position: relative;
    left: 69px;
  }
  #circle-second {
    display: inline-block;
    position: relative;
    right: -43px;
  }
  #circle-thired {
    display: inline-block;
    position: relative;
    right: -17px;
  }
  #circle-fourth {
    display: inline-block;
    position: relative;
    right: 37px;
  }
  .circle-last {
    display: inline-block;
    position: relative;
    right: 61px;
  }
}

.signup-header{
  justify-content: space-between;
}

.progress__title {
  display: inline-block;
}




.email-conflict {
  margin: 0 0 40px;
  color: red;
  font-size: 14px;
}

.error {
  margin: 8px 0 0;
  color: #ea352d;
  font-size: 14px;
}

.self-form__prefecture__nil {
  padding-bottom: 35px;
  margin-top: -26px;
}

.hidden{
  display: none;
}

.active{
  display: block;
}


.red {
  color: red;
}













