.single-footer
  %nav
    .ul-clearfix
      %li
        = link_to 'プライバシーポリシー', ""
      %li
        = link_to 'メルカリ利用規約', ""
      %li
        = link_to '特定商取引に関する表記'
  .footer__logo
    = image_tag "logo-gray.svg"
  .footer__copyright
    %p © 2019 Mercari

