.container
  = render "layouts/header"
  %main.logout
    = render 'users/mypage-side-navi'
    .logout__content
      .logout__content__btn
        ログアウト

  = render "layouts/footer"
  = render "layouts/sell-button"
