.left-content
  .left-content__bar
    %nav.mypage-navigation
      %ul.mypage-nav__list
        %li#first__list
          %a{href: "", class: "mypage-nav__list__item"} マイページ
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} お知らせ
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} やることリスト
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} いいね！一覧
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 出品する
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 出品した商品-出品中
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 出品した商品-取引中
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 出品した商品-売却済み
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 購入した商品-取引中
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 購入した商品-過去の取引
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} ニュース一覧
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 評価一覧
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} ガイド
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} お問い合わせ
          %i.fa.fa-chevron-right
    .left-content__bar
      %h4.mypage-nav__head メルペイ
      %ul.mypage-nav__list
        %li#first__list
          %a{href: "", class: "mypage-nav__list__item"} 売上・振込申請
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} ポイント
          %i.fa.fa-chevron-right
    .left-content__bar
      %h4.mypage-nav__head 設定
      %ul.mypage-nav__list
        %li#first__list
          %a{href: "", class: "mypage-nav__list__item"} プロフィール
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 発送元・お届け先住所変更
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 支払い方法
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} メール/パスワード
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 本人情報
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} 電話番号の確認
          %i.fa.fa-chevron-right
        %li
          %a{href: "", class: "mypage-nav__list__item"} ログアウト
          %i.fa.fa-chevron-right

