.left-content{
  width: 1020px;
  margin: 40px auto 0;
  padding: 0 0 40px;
  display: flex;
  &__bar{
    width: 280px;
    margin-right: 40px;
    .mypage-navigation {
      color: #333;
      font-size: 14px;
      text-decoration: none;
    }
    .mypage-nav {
      &__list li {
        border-top: 1px solid;
        color: #DDDDDD;
        position: relative;
        background-color: #FFFFFF;
      }
      &__list {
        &__item {
          padding: 13px;
          display: flex;
          align-items: center;
        }
        #chevron {
          position: absolute;
          top: 38%;
          right: 16px;
          color: #DDDDDD;
        }
      }
      &__head {
        margin: 40px 0 0;
      }
    }
  }
}


#first__list {
  border: 0;
}

h4{
  font-weight: 700;
  text-align: left;
}
