.carousel
  .carousel__first
    = link_to image_tag("banner-new-life.jpg"), "#"
  .carousel__second
    = link_to image_tag("main-index.png"), "#"
  .carousel__third
    = link_to image_tag("banner-new-register.jpg"), "#"
