%ul.category-menu__level1
  -categories = Category.all.eager_load(children: :children)
  - categories.all.each do |category1|
    - unless category1.parent_id
      %li
        = link_to category1.name, category_path(category1)
        %ul.category-menu__level1__level2
          - category1.children.each do |category2|
            %li
              = link_to category2.name, category_path(category2)
              %ul.category-menu__level1__level2__level3
                - category2.children.each do |category3|
                  %li
                    =link_to category3.name, category_path(category3)
