%ul.category-menu__level1
  - @all_categories.each do |category1|
    - unless category1.parent_id
      %li
        = link_to category1.name, category_path(category1)
        %ul.category-menu__level1__level2
          - @all_categories.each do |category2|
            - if category2.parent_id == category1.id
              %li
                = link_to category2.name, category_path(category2)
                %ul.category-menu__level1__level2__level3
                  - @all_categories.each do |category3|
                    - if category3.parent_id == category2.id
                      %li
                        =link_to category3.name, category_path(category3)
