.breadcrumbs{
  width:1020px;
  padding: 20px;
  margin: 0 auto;
}

.pankuzu{
  border-top: 1px solid #eee;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);

}


.current{
  background-color: #fff;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
