.category{
  text-align: center;
  &__container {
    display: inline-block;
    width: auto;

    h1 {
      margin: 24px 0 8px;
      font-size: 24px;
      text-align: left;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
