html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

html, body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

h1, h2, h3, h4, a {
  text-align: center;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;

  &:visited {
    color: #333;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 32px 9px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
}

select {
  -webkit-appearance: none;
	-moz-appearance: none;
  appearance: none;
}

span {
  color: white;
  background-color: red;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 8px;
  padding: 2px 6px 1px 4px;
}

.flex-split {
  display: flex;
  justify-content: space-between;
}

.logo {
  box-sizing: border-box;

  &__search {
    box-sizing: inherit;
    height: 100%;
  }
}
