.header {
  background-color: #FFFFFF;
  &__container {
    box-sizing: border-box;
    height: $header-heght;
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    position: relative;

    &__search {
      height: 36px;
      display: flex;

      &__logo {
        width: 134px;
        box-sizing: border-box;
        display: block;
        flex-shrink: 0;

        img {
          height: 100%;
        }
      }
      &__form {
        width: 100%;
        padding-left: 16px;
        position: relative;

        &__input {
          height: 100%;
          padding: 8px 38px 8px 16px;
        }

        &__button {
          font-size: 16px;
          width: 30px;
          height: 30px;
          padding: 0;
          position: absolute;
          top: 50%;
          right: 4px;
          transform: translate(0, -50%);
          border: 0;
        }
      }
    }

    &__navigation {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

.navigation {

  &__left {
    float: left;
    display: flex;
    justify-content: left;

    a {
      padding-right: 16px;
      line-height: 38px;
      box-sizing: border-box;
      border: 0 solid white;
      display: block;
      &:hover {
        color: $blue;
      }
    }

    &__category {
      position: relative;
      &:hover {
        ul {
          display: block;

          ul {
            display: none;
          }
        }
      }

      &__menu {
        position: absolute;
        top: 38px;
        z-index: 2000;
      }
    }

    &__brand {
      position: relative;

      &:hover {
        ul {
          display: block;
        }
      }

      &__menu {
        position: absolute;
        top: 38px;
        z-index: 2000;
      }
    }
  }

  &__right {
    float: right;
    display: flex;
    justify-content: right;

    &__mypage,&__todo, &__note {
      height: 38px;
      padding-left: 16px;
      display: block;
      line-height: 38px;

      a {
        &:hover {
          color: $blue;
        }
      }

    }

    &__todo {
      position: relative;

      a{
        display: block;

        &:before {
          font-family: 'Font Awesome 5 Free';
          font-size: 16px;
          margin-right: 8px;
          font-weight: 900;
          content: '\f00c';
        }
      }

      &:hover {
        ul {
          display: block;
        }
      }

      &__list {
        position: absolute;
        top: 38px;
        right: 0;
        z-index: 2000;
      }
    }

    &__note {
      position: relative;

      a{
        display: block;

        &:before {
          font-family: 'Font Awesome 5 Free';
          font-size: 16px;
          margin-right: 8px;
          font-weight: 400;
          content: '\f0f3';
        }
      }

      &:hover {
        ul {
          display: block;
        }
      }

      &__list {
        position: absolute;
        top: 38px;
        right: -131px;
        z-index: 2000;
      }
    }
  }
}

.single-header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    box-sizing: border-box;
    height: 49px;
  }
}

.btn {

  &-nav {
    height: 32px;
    margin-left: 8px;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 32px;
    font-size: 14px;
  }

  &-reg {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;

    &:visited {
      color: $blue;
    }
  }
}
