@import "item-slider";

.item-box-container {
  width: 700px;
  background: #fff;
  margin: 40px auto 0;
  padding:24px 40px 40px;
  box-sizing: border-box;
  .item-main-content {
    margin: 16px 0 0;
    min-height: 375px;
    width: 620px;
    display: flex;
    justify-content: space-between;
    .item-photo{
      max-width: 300px;
      max-height: 420px;
      font-size:0;
      .item-image {
        width: 100%;
      }
      .owl-dot {
        line-height: 0;
        width: 25%;
        max-height: none;
        display: inline-block;
        &-inner {
          width: auto;
          height: auto;
          padding: 0;
          opacity: .4;
          cursor: pointer;
        }
      }
    }
    .item-detail-table{
      max-width: 300px;
      height: 375px;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      & th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        border: 1px solid #f5f5f5;
        padding: 8px;
        border-collapse: collapse;
        font-size: 13px;
      }
      & td {
        width: 61%;
        background: #fff;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        .user-name-string {
          color: #0099e8;
          font-size: 12px;
          text-decoration: none;
        }
        .item-detail-table-sub {
          text-align: start;
          color: #0099e8;
          &__sub {
            text-align: start;
            color: #0099e8;
            &__sub {
              text-align: start;
              color: #0099e8;
            }
          }
        }
        .item-detail {
          font-size: 13px;
        }
        .brand-name {
          color: #0099e8;
          text-align: left;
        }
        .prefecture-name {
          color: #0099e8;
        }
      }
      .item-user-ratings {
        display: flex;
        & span {
          background-color: transparent;
          color: #333;
          margin-left: 0;
          padding: 0px 11px 0px 2px;
        }
        .fa-laugh {
          color: #ef5185;
        }
        .fa-meh {
          color: #fba933;
        }
        .fa-frown {
          color: #6ab5d8;
        }
      }
    }
  }

  .item-price-box {
    width: 620px;
    height: 50px;
    margin: 24px 0 0;
    text-align: center;
    .item-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
      background-color: transparent;
      color: black;
    }
    .item-tax {
      font-size: 10px;
      background-color: transparent;
      color: black;
      margin-left: 0;
      padding: 0;
    }
    .item-shipping-fee {
      display: inline-block;
      font-size: 16px;
      background-color: transparent;
      color: black;
      margin-left: 0;
      padding: 0;
    }
  }
  .item-buy-btn {
    background: #e62017;
    cursor: not-allowed;
    margin: 16px 0 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
  }
  .item-description{
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
  }
  .item-button-container {
    margin: 16px 0 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    .item-button-left {
      display: inline-block;
      margin: 8px 0 0;
      .item-button {
         border: 1px solid #f5f5f5;
         background: #f5f5f5;
         border-radius: 40px;
         font-size: 13px;
         padding: 8px 16px;
        .fa-heart {
          color: #ccc;
        }
        .fade-in-down {
          background-color: transparent;
          color: #333;
          font-size: 14px;
          margin-left: 6px;
        }
        &__report {
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          border-radius: 40px;
          margin: 0 0 0 16px;
          padding: 8px 16px;
          .fa-flag {
            background-color: transparent;
            color: #333;
            font-size: 14px;
            margin-right: 7px;
          }
        }
      }

    }
    .item-button-right {
      margin: 8px 0 0;
      padding: 8px 16px;
      .safe-description {
        color: #0099e8;
      }
      .clock-font {
        font-size: 14px;
        margin-right: 7px;
      }
    }
  }
}

.item-detail-message {
  width: 700px;
  margin: 8px auto;
  background: #fff;
  .message-content {
    padding: 24px;
    .message-items {

      margin: 0;
      li:first-child {
          margin: 1.5em 0 0;
      }
      .message-items li {
        display: flex;
      }
      .message-item {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0;
      }
      .message-user {
        top: -20px;
        display: inline-block;
        color: #333;
        &-unknown {
          width: 40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          background: #eee;
          text-align: center;
        }
        &-unknown img {
          width: 32px;
          height: 32px;
          margin: 10px 0 0;
          vertical-align: bottom;
        }
        &-image {
          margin: 10px 0 0;
          vertical-align: bottom;
          width: 40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          display: inline-block;
        }
        &-image img {
          width: 100%;
        }
      }

      .message-body {
        margin: 6px 0 0 0px;
        padding: 16px;
        background: #eef0f4;
        border-radius: 15px;
        line-height: 1.5;
        word-break: break-all;
        &-continer {
          width: 600px;
        }
        .message-icons {
          display: flex;
          justify-content: space-between;
          margin: 8px 0 0;
          .message-icon-left {
            .fa-clock {
              color: #aaa;
            }
            .days-ago {
              background-color: transparent;
              color: #aaa;
              margin-left: 0;
            }
          }
          .fa-flag {
            color: #aaa;
          }
        }
      }
    }
    .message-form p {
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
    }
    .message-form .textarea-default {
      margin: 8px 0 0;
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
    }
    .textarea-default:disabled {
      background: #f5f5f5;
    }
    .message-submit {
      width: 100%;
      margin: 8px 0 0;
      text-align: center;
      border: 1px solid #888;
      background: #888;
      color: #fff;
      display: block;
      line-height: 48px;
      &__button {
        background-color: transparent;
        font-size: 14px;
        margin-left: 0;
        padding: 0;
      }
    }
  }
}

.nav-item-link{
  margin: 24px auto 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
  &-prev a{
    color: #0099e8;
    .fa-chevron-left {
      text-decoration: none;
      font-weight: 900;
    }
  }
  &-next a{
    color: #0099e8;
    .fa-chevron-right {
      text-decoration: none;
      font-weight: 900;
    }
  }
}


.item-social-media-box{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  height: 82px;
  .text-center {
    width: 700px;
    height: 14px;
  }
  .social-media-box {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    & li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      & a {
        display: block;
      }
    }
    & i {
      display: inline-block;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 29px;
      width: 44px;
      height: 44px;
      border-radius: 4px;
      line-height: 44px;
    }
    .fa-facebook-square {
      color: #fff;
      background: #385185;
      font-size: 26px;
    }
    .fa-twitter {
      color: #fff;
      background: #5d9dc9;
      font-size: 24px;
    }
    .fa-line {
      color: #fff;
      background: #00c137;
      font-size: 28px;
    }
    .fa-pinterest {
      color: #fff;
      background: #aa262a;
      font-size: 20px;
    }
  }
}


.items-in-user-profile{
  width: 700px;
  margin: 0 auto;
  .items-box-head {
    padding: 24px 0 8px;
    font-size: 22px;
    line-height: 1.4;
    color: #0099e8;
    text-align: start;
    display: flex;
  }
}

.item-image {
  display:none;
}

.active {
  display: block;
}

#hover {
  opacity: 1;
  cursor: default;
}
.item-box__images {
  box-sizing: border-box;
  width: 100%;

}
