.single-header{
  height:128px;
}
.single-main{
  display: block;
}
.single-main__l.panel{
  margin: 0 auto;
  width: 456px;
  background-color: #fff;
  &--new{
  padding: 40px 64px;
  text-align: center;
    & p{
  font-size: 14px;
    }
    & a{
  display: block;
  background-color: #0099e8;
  line-height: 40px;
  color: #fff;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
    }
  }
  &-sns{
  padding: 32px 64px;
  border-top: 1px solid #C0C0C0;
  }
  &-form{
  padding: 32px 64px;
  }
}
.password-box{
  margin: 16px 0 0;
}
.owasure{
  margin: 40px 0 0;
  display: inline-block;
}

.g-recaptcha{
  margin-top: 20px;
}
