.category-menu {
  &__level1 {
    display: none;

    li {
      width: 224px;
      background-color: white;

      a{
        text-align: left;
        padding: 0 16px;
      }

      &:hover {
        background-color: $red;

        a {
          color: white;
        }

        ul {
          display: block;

          a{
            color: black;
          }

          ul {
            display: none;
          }

          li {
            &:hover {
              background-color: #ccc;
              ul {
                display: block;
              }
            }
          }
        }
      }
    }

    &__level2 {
      background-color: white;
      height: 100%;
      position: absolute;
      top: 0;
      left: 224px;
      bottom: 0;
      display: none;

      &__level3 {
        background-color: white;
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        display: none;
      }
    }
  }
}

.brand-menu {
  display: none;

  li {
    background-color: white;
    width: 224px;

    a {
      text-align-last: left;
      padding: 0 16px;
    }

    &:hover {
      background-color: $red;

      a {
        color: white;
      }
    }
  }
}

.todo-list, .note-list {
  display: none;
  width: 320px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
  li {
    background-image: url(image_path("logo-gray-icon.svg"));
    background-position: center 40px;
    background-size: 78px 85px;
    background-repeat: no-repeat;
    padding: 160px 0 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ccc;
  }
}
