.l-container {
  background-color: #f5f5f5;
  &__mypage {
    margin: 40px auto;
    display: flex;
    width: 1020px;
  }
}

.mypage {

  margin: 0 auto;
  padding: 0;
  border-style: solid;
  border-width: 0;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1;
  cursor: auto;
  box-sizing: border-box;
  color: #000;

  &__body {
    margin: 0 autos;
    // width: 1020px;

    &__main {

      width: 700px;

      .mypage__user-icon {
        position: relative;
        text-align: center;
        height: 160px;
        padding: 20px;
        background-color: #fff;
        background-image: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg);
        background-size: auto;
        background-position: center;
        a {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          text-decoration: none;
          color: #000;
          figure {
            overflow: hidden;
            height: 60px;
            width: 60px;
            margin: 0 auto;
            border-radius: 50%;
          }
          h2 {
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.4;
          font-weight: bold;
          }
          .mypage__number {
            margin: 8px 0 0;
            p {
              display: inline-block;
              span {
                margin: 0 0 0 8px;
                font-size: 16px;
                color: black;
                background-color: transparent;

              }
            }
            .right{
              margin: 0 0 0 16px;
            }
          }
        }
      }

      .mypage__tab {
        margin: 0;
        background: #fff;
        &__list {
          border: 0;
          background: #eee;
          font-size: 0;
          li {
            width: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            h3 {
              font-size: 22px;
              font-weight: bold;
              a {
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
              }
            }
          }
          .notification {
            background-color: #fff;
            a {
              border-top: 2px solid #ea352d;
            }
          }
        }

        .notification-list {
          li {
            position: relative;
            border-bottom: 1px solid #eee;
            a {
              text-decoration: none;
              color: #000;
            span{
              background-color: transparent;
              color: gray;
            }
              .fa-angle-right {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translate(0, -50%);
                font-size: 26px;
              }
            }
          }
          &__link {
            display: block;
            min-height: 48px;
            padding: 16px;
            color: #333;
            figure {
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              margin: 0;
              padding: 0;
              img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
              }
            }
          }
          &__body {
            margin: 0 40px 0 68px;
            &__text {
              overflow: hidden;
              display: block;
              max-height: 4.4em;
              text-overflow: ellipsis;
              line-height: 1.5;
            }
            time {
              display: inline-block;
              color: #888;
              vertical-align: middle;
              float: left;
              .fa-clock-o {
                margin: 0 8px 0 0;
                font-size: 16px;
              }
            }
          }
          .notification-list__all {
            padding: 16px;
            a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
          }
        }
      }

      .mypage__trading-traded {
        margin: 40px 0 0;
        background: #fff;
        .mypage-tab-head {
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
        }
        .mypage-tabs {
          border: 0;
          background: #eee;
          font-size: 0;
          li {
            width:  50%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            h3 {
              font-size: 22px;
              font-weight: bold;
              a {
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
              }
            }
          }
          .trading {
            background-color: #fff;
            a {
              border-top: 2px solid #ea352d;
            }
          }
        }
        .traded-list {
          figure {
            overflow: hidden;
            width: 120px;
            height: 120px;
            margin: 0 auto;
            padding: 20px 0 0;
            filter: grayscale(100%);
            opacity: 0.1;
            img {
              width: 100%;
            }
          }
          &__not-found {
            padding: 20px 0 60px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            font-weight: bold;
          }
        }
      }
    }
  }
  .clearfix:after {
    content: '';
    clear: both;
    display: block;
  }
  img {
    vertical-align: middle;
  }
  i {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  }
  ul {
    list-style: none;
  }
}
