.new-item {
  h6 {
    color: #888;
    font-size: 14px;
    margin: 0;
  }

  &__header {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      box-sizing: border-box;
      height: 49px;
    }
  }

  &__main {

    &__container {
      width: 700px;
      background-color: white;
      margin: 0 auto;

      &__head {
        padding: 32px 16px;
        border-bottom: 1px solid #f5f5f5;
      }

      &__form {
        input {
          height: 48px;
        }
      }
    }
  }
}

.form-box {
  padding: 40px;
  border-bottom: 1px solid #f5f5f5;

  p {
    font-size: 14px;
  }
}

.select-box {
  width: 400px;

  select {
    margin-top: 8px;
  }
}

.select-wrap {
  position: relative;
  font-family: "font-awesome";
  font-size: 32px;
  color: #666;
  i {
    position: absolute;
    right: 15px;
    top: 14px;
    bottom: 0;
  }
}

.price-wrap {
  line-height: 48px;
  padding-bottom: 24px;
  &__right {
    display: flex;
    text-align: right;
    p {

      margin-right: 5px;
    }
  }
}

.charge-wrap {
  padding: 24px 0 24px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.profit-wrap {
  padding: 24px 0 24px;
}

#price-field{
  width: 160px;
  padding: 9px;
  text-align: right;
}

.sell-form {
  &__image {

    h3 {
      font-size: 16px;
      text-align: left;
    }

    p {
      font-size: 14px;
      margin-top: 8px;;
    }
    &__input {
      display: none;
    }

    &__dropbox {
      box-sizing: border-box;
      background-color: #f5f5f5;
      border: 1px dashed #ccc;
      width: 620px;
      margin-top: 16px;
      padding: 50px 100px;
      text-align: center;
    }
  }

  &__summary {

    &__name {
      margin: 8px 0 0 0;
    }

    &__comment {
      margin-top: 8px;
    }
  }

  &__submit {

    &__back {
      box-sizing: border-box;
      width: 277px;
      margin: 24px auto 0;
    }
  }
}
