.new-item {
  h6 {
    color: #888;
    font-size: 14px;
    margin: 0;
  }

  &__main {

    &__container {
      width: 700px;
      background-color: white;
      margin: 0 auto;

      &__head {
        padding: 32px 16px;
        border-bottom: 1px solid #f5f5f5;
      }

      &__form {
        input {
          height: 48px;
        }
      }
    }
  }
}

@mixin split {
  display: flex;
  justify-content: space-between;
}

@mixin formSelectBox {
  @include split();

  &__select-box{
    width: 400px;

    select {
      margin-top: 8px;
    }

    &__wrap {
      position: relative;
      font-family: "font-awesome";
      font-size: 32px;
      color: #666;

      i {
        position: absolute;
        right: 15px;
        top: 14px;
        bottom: 0;
      }
    }
  }
}

@mixin formBox {
  padding: 40px;
  border-bottom: 1px solid #f5f5f5;
}

#priceField{
  width: 160px;
  padding: 9px;
  text-align: right;
}

.sell-form {
  font {
    color: $red;
    font-size: 14px;
  }

  &__image {
    @include formBox();
    h3 {
      font-size: 16px;
      text-align: left;
    }

    p {
      font-size: 14px;
      margin-top: 8px;;
    }
    &__input {
      display: none;
    }

    &__error {
      color: $red;
    }

    &__dropbox {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
      &__thumbnail {
        box-sizing: border-box;
        display: inline-flex;
        flex-wrap: wrap;
      }
      &__wrapper {
        flex: 1;
        width: 100%;
        &-before{
          width: 100%;
        }

        &__inner {
          box-sizing: border-box;
          background-color: #f5f5f5;
          border: 1px dashed #ccc;
          max-width: 100%;
          min-width: 112px;
          height: 160px;
          padding: 40px;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
          position: relative;
          pre {
            text-align: center;
            white-space: pre-wrap;
            word-wrap: break-word;
            margin: 0;
            position: absolute;
            left: 50%;

            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  &__summary {
    @include formBox();
    &__name {
      margin: 8px 0 0 0;

      &__error{
        font-size: 14px;
        color: $red;
        margin-top: 8px;
      }
    }

    &__comment {
      margin-top: 8px;

      &__error {
        font-size: 14px;
        color: $red;
        margin-top: 8px;
      }
    }
  }

  &__detail {
    @include formBox();
    @include formSelectBox();
    &__select-box {
      &__category {
        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
        }
      }

      &__condition {
        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
        }
      }
    }
  }

  &__shipping {
    @include formBox();
    @include formSelectBox();
    &__select-box {
      &__fee {
        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
        }
      }

      &__region {
        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
        }
      }

      &__days {
        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
        }
      }
    }
  }

  &__price {
    @include formBox();
    @include split();

    &__select-box {
      width: 400px;

      &__price-wrap {
        padding-bottom: 24px;

        &__input {
          @include split();
          line-height: 48px;

          &__right {
            display: flex;
            text-align: right;
            p {
              margin-right: 5px;
            }
          }
        }

        &__error {
          font-size: 14px;
          color: $red;
          margin-top: 8px;
          overflow: visible;
          white-space: nowrap;
        }
      }

      &__charge-wrap {
        @include split();
        padding: 24px 0 24px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      &__profit-wrap {
        @include split();
        padding: 24px 0 24px;
      }
    }
  }

  &__submit {
    @include formBox();

    &__button {
      display: inline-block;
      min-width: 100%;
      margin-top: 40px;
      position: relative;
      &__load {
        position: absolute;
        top: 10.5px;
        left: 48%;
        display: none;
      }
    }

    &__back {
      box-sizing: border-box;
      height: 48px;
      width: 277px;
      margin: 24px auto 0;
    }
  }
}


@mixin uploadImage {

  &__container{
  background: #f5f5f5;
  width: 112px;
  height: 160px;
  margin: 0 5px 10px;

  border: 1px solid #eee;

    figure {
      height: 114px;
      margin: 0;
      display: flex;
      align-items: center;
      position: relative;
    }
    &__image {
      box-sizing: border-box;
      max-height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &__cropped-image {
      height: 114px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__button {
      height: 44px;
      line-height: 44px;
      display: flex;


      &__edit {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        height: 44px;
        margin: 0;
        color: $blue;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }

      &__delete {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        height: 44px;
        margin: 0;
        border-left: 1px solid #eee;
        color: $blue;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
    }
  }
}
.upload-item {
  @include uploadImage();
}

.stored-item {
  @include uploadImage();
}

.question {
  background-color: #0099e8;
  font-size: 12px;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;

  &:visited {
    color: white;
  }
}

#sell-form {
  &-size {
    display: none;
  }
}

