*{
  background-color: no-repeat;
  margin: 0;
  padding: 0;
}
a{
  font-size: 13px;
}
// .single-header img{
//   padding: 10px;
//   width: 220px;
//   height: 220px;
// }
.l-single-container{
  width: 700px;
  margin: 0 auto;
}
.l-single-head{
  padding: 32px 16px;
  font-size: 22px;
  background-color: white;
  text-align: center;
}
.l-single-inner{
  padding: 64px;
  border-top: 1px solid #f5f5f5;
  background: white;
}
.l-single-content{
  max-width: 320px;
  margin: 0 auto;
}
.btn-mail{
  background-color: #f5f5f5;
}

.btn-default{
  display: block;
  width: 100%;
  line-height:  48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
}


.btn-sns-facebook {
    margin: 16px 0 0;
    background: #385185;
}

.btn-sns {
    &:visited {
    color: #fff;
    }
}
.btn-sns-google {
    margin: 16px 0 0;
    background: #fff;
    border: #979797 solid 1px;
    &:visited {
    color:  black;
    }
}
// .single-footer{
//   width: 456px;
//   height: 0;
//   margin: 0 auto;
//   text-align: center;
//   padding: 40px 0;
// }
// .single-footer li{
//   display: inline-block;
//   margin: 0 5px;
// }

.footer__copyright p{
  font-size: 11px;
  padding: 50px;
}

.footer__logo img{
  width: 80px;
  height: 80px;
}
.far{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  color: #C0C0C0;
  position: absolute;
  left: 450px;
  top: 305px;
}
.fab{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  position: absolute;
  left: 450px;
  top: 370px;
}
.google.icon{
  left: 450px;
  top: 439px;
}


