.single-header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    box-sizing: border-box;
    height: 45px;
    padding: 0;
  }
}

.single-footer {
  width: 456px;
  min-height: 140px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;

  }

  a {
    font-size: 11px;
    margin: 0 7px;
  }

  &__logo {

    img {
      width: 80px;
      margin: 40px auto 0;
    }

  }
}
