.main {
  background-color: #f5f5f5;
  padding: 40px 0;
  h2 {
    font-size: 28px;
  }

  h3 {
    margin: 26px 11px;
  }

  a {
    font-size: 22px;
  }

  &__banner {

    &__image {
      width: 100%;
    }
  }
}

.top-banner {
  height: 100%;
}
.banner {
  box-sizing: border-box;
  width: 100%;
}

.pickup-box {
  width: 940px;
  margin: 0 auto;
  &__items {
    display: flex;
    justify-content: center;
  }

  &__view-all {
    padding: 20px 10px 30px;
    text-align: right;
    a {
      font-size: 14px;
      color: blue;
      
    }
  }
}
.item-box {
  background-color: white;
  width: 213px;
  margin: 0 10px;

  &__image {
    box-sizing: border-box;
    width: 100%;
  }

  &__body {
    padding: 16px;

    h4 {
      text-align: left;
    }
    p {
      font-size: 10px;
    }
  }
}