.aside
  .aside__banner
    .aside__banner__inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .aside__banner__inner__icon
        = image_tag "mercari_icon.png"
        .aside__banner__inner__icon__app
          = link_to image_tag("app-store.svg"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
          = link_to image_tag("google-play.svg"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
    = image_tag "download_content_pc.png", class: "aside__banner__image"
