.modal
  .modal__overlay
    .cropper
      .cropper__body
        .cropper__body__header
        .cropper__body__edit
          .cropper__body__edit__canvas
          .cropper__body__edit__slider
        .cropper__body__button
