.single-footer
  %ul
    %li
      = link_to "プライバシーポリシー", "/"
    %li
      = link_to "メルカリ利用規約", "/"
    %li
      = link_to "特定商取引に関する表記", "/"
  = link_to image_tag("logo-gray.svg"), "/", class: "single-footer__logo"
  %p
    %small ©︎2019 Mercari
